<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSA - JEPMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/Bootstrap.yeti.css"  />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #236093 !important;">
            <div class="container" style="color:white !important;">
                <img src="~/Views/Images/logorama.png" />
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CSA de los JEPMS Manizales</a>
                <button class="navbar-toggler"  type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Datos Maestros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="Departamentos" asp-action="Index">Departamentos</a>
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="Despachos" asp-action="Index">Despachos</a>
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="EstadoProcesos" asp-action="Index">Estados Proceso</a>
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="EstadoSolicitudes" asp-action="Index">Estados Solicitud</a>
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="Falladores" asp-action="Index">Falladores</a>
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="Municipios" asp-action="Index">Municipios</a>
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="TipoSolicitudes" asp-action="Index">Tipos Solicitud</a>
                                <a class="dropdown-item text-white-50" asp-area="" asp-controller="CargoEmpleados" asp-action="Index">Usuarios y Roles</a>
                                
                            </div>
                        </li>



                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Página Principal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CSA Manizales - <a asp-area="" asp-controller="Home" asp-action="Privacidad">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
