@model Ejecuciones.Models.Despacho

@{
    ViewData["Title"] = "Despachos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle</h1>

<h3>Despachos</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreDespacho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreDespacho)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DespachoId">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
