@model Ejecuciones.Models.Solicitud

@{
    ViewData["Title"] = "Registrar Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registrar Solicitudes</h1>
<h4>Nueva Solicitud</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DespachoId" class="control-label"></label>
                <select asp-for="DespachoId" class="form-control" asp-items="ViewBag.DespachoId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoSolicitudId" class="control-label"></label>
                <select asp-for="TipoSolicitudId" class="form-control" asp-items="ViewBag.TipoSolicitudId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CedulaCondenado" class="control-label"></label>
                <input asp-for="CedulaCondenado" class="form-control" />
                <span asp-validation-for="CedulaCondenado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombresCondenado" class="control-label"></label>
                <input asp-for="NombresCondenado" class="form-control" />
                <span asp-validation-for="NombresCondenado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApellidosCondenado" class="control-label"></label>
                <input asp-for="ApellidosCondenado" class="form-control" />
                <span asp-validation-for="ApellidosCondenado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuadernosSolicitud" class="control-label"></label>
                <input asp-for="CuadernosSolicitud" class="form-control" />
                <span asp-validation-for="CuadernosSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoliosSolicitud" class="control-label"></label>
                <input asp-for="FoliosSolicitud" class="form-control" />
                <span asp-validation-for="FoliosSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Anexos de la Solicitud</label>
                <input asp-for="SolicitudPdf" class="form-control-file" id="SolicitudPdf">
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
