@model Ejecuciones.Models.EstadoSolicitud

@{
    ViewData["Title"] = "Estado Solicitud";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h3>Estado Solicitud</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EstadoSolicitudId" />
            <div class="form-group">
                <label asp-for="NombreEstadoSolicitud" class="control-label"></label>
                <input asp-for="NombreEstadoSolicitud" class="form-control" />
                <span asp-validation-for="NombreEstadoSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
