@model Ejecuciones.Models.EstadoProceso

@{
    ViewData["Title"] = "Estado Proceso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>Estado Proceso</h3>

<h6>Confirma que desea eliminar el siguente registro?</h6>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEstadoProceso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEstadoProceso)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EstadoProcesoId" />
        <input type="submit" value="Eliminar" class="btn btn-primary" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
