@model Ejecuciones.Models.Proceso

@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Proceso</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProcesoId" />
            <div class="form-group">
                <label asp-for="DespachoId" class="control-label"></label>
                <select asp-for="DespachoId" class="form-control" asp-items="ViewBag.DespachoId"></select>
                <span asp-validation-for="DespachoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaProceso" class="control-label"></label>
                <input asp-for="FechaProceso" class="form-control" />
                <span asp-validation-for="FechaProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RadicadoProceso" class="control-label"></label>
                <input asp-for="RadicadoProceso" class="form-control" />
                <span asp-validation-for="RadicadoProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FalladorId" class="control-label"></label>
                <select asp-for="FalladorId" class="form-control" asp-items="ViewBag.FalladorId"></select>
                <span asp-validation-for="FalladorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnexosSolicitud" class="control-label"></label>
                <input asp-for="AnexosSolicitud" class="form-control" />
                <span asp-validation-for="AnexosSolicitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuadernosProceso" class="control-label"></label>
                <input asp-for="CuadernosProceso" class="form-control" />
                <span asp-validation-for="CuadernosProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoliosProceso" class="control-label"></label>
                <input asp-for="FoliosProceso" class="form-control" />
                <span asp-validation-for="FoliosProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoProcesoId" class="control-label"></label>
                <select asp-for="EstadoProcesoId" class="form-control" asp-items="ViewBag.EstadoProcesoId"></select>
                <span asp-validation-for="EstadoProcesoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
