@model Ejecuciones.Models.Proceso

@{
    ViewData["Title"] = "Cargar Procesos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h3>Procesos</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit"  enctype="multipart/form-data">>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProcesoId" />
            <div class="form-group">
                <label asp-for="RadicadoProceso" class="control-label"></label>
                <input asp-for="RadicadoProceso" class="form-control" />
                <span asp-validation-for="RadicadoProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FalladorId" class="control-label"></label>
                <select asp-for="FalladorId" class="form-control" asp-items="ViewBag.FalladorId"></select>
                <span asp-validation-for="FalladorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CuadernosProceso" class="control-label"></label>
                <input asp-for="CuadernosProceso" class="form-control" />
                <span asp-validation-for="CuadernosProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FoliosProceso" class="control-label"></label>
                <input asp-for="FoliosProceso" class="form-control" />
                <span asp-validation-for="FoliosProceso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="exampleFormControlFile1">Seleccionar Archivos</label>
                <input asp-for="ProcesoPdf" class="form-control-file" id="ProcesoPdf">
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
